<div class="connect4">
	<p id="msg" class=""></p>

	<h3>Connec 4</h3>

	<div class="body">
		<div class="nav">
			<div class="mode">
				<span>Mode: </span>
				<button data-mode="pvp" class="btn btn-default play-mode">Player vs Player</button>
				<button data-mode="ai" class="btn btn-default play-mode">Player vs AI</button>
			</div>

			<div class="status">
				<div class="player p1">Player 1</div>
				<div class="player p2">Player 2</div>
			</div>
		</div>

		<div id="board"></div>
		<button class="btn btn-success btn-lg reset" id="reset">Play Again!</button>
	</div>
</div>